version: '3.8'

services:
  db:
    image: postgres:16
    container_name: carDB
    environment:
      - POSTGRES_DB=portal_coches
      - POSTGRES_USER=portal
      - POSTGRES_PASSWORD=portal
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:


